In [24]:
fruits = ["apple" , "banana" , "watermelon" , "pinapple"]
for fruits in fruits:
    print(f"nama buah : {fruits}")

nama buah : apple
nama buah : banana
nama buah : watermelon
nama buah : pinapple

In [29]:
nilaiPython = [70,80,90,100,110]
total = 0
for nilai in nilaiPython:
    total += nilai
    
rata2 = total / len(nilaiPython)
print(f"Nilai rata-rata : {rata2}")

Nilai rata-rata : 90.0

In [32]:
mounth = ["Jan", "Feb", "Maret", "April", "Mei", "Jun", "Jul"]
for i,m in enumerate(mounth):
    print(f"{i} : {m}")

0 : Jan
1 : Feb
2 : Maret
3 : April
4 : Mei
5 : Jun
6 : Jul

In [36]:
kampus = input("isikan nama kampus")
lisVokal = ["a", "b", "c", "d", "e", "f"]
for karakter in kampus:
    print(kampus)

isikan nama kampus nusaputraku

nusaputraku
nusaputraku
nusaputraku
nusaputraku
nusaputraku
nusaputraku
nusaputraku
nusaputraku
nusaputraku
nusaputraku
nusaputraku

In [37]:
kampus = input("isikan nama kampus")
lisVokal = ["a", "b", "c", "d", "e", "f"]
total = 0
listVokal = ""
for karakter in kampus:
    if karakter in listVokal:
        total +=1
        listVokal = "Huruf Vokal"
    else :
        listVokal = "Bukan Huruf Vokal"
    print(f"{karakter} adalah {listVokal}|total:{total}")

isikan nama kampus m

m adalah Bukan Huruf Vokal|total:0

In [38]:
data = [1,2,3,4,5]
pangkat =[x**2 for x in data]i adalah:{i}")
print(pangkat)

[1, 4, 9, 16, 25]

In [39]:
for i in range(10):
    print(f"Nilai i adalah{i}")

Nilai i adalah0
Nilai i adalah1
Nilai i adalah2
Nilai i adalah3
Nilai i adalah4
Nilai i adalah5
Nilai i adalah6
Nilai i adalah7
Nilai i adalah8
Nilai i adalah9

In [40]:
for j in range(5,10):
    print(f"Nilai j adalah{j}")

Nilai j adalah5
Nilai j adalah6
Nilai j adalah7
Nilai j adalah8
Nilai j adalah9

In [46]:
number = int(input("isikan bilangan:"))
faktor = 0
for i in range (1,number+1):
        if number % i == 0:
            faktor +=1
if faktor ==2:
    print(f"{number} adalah bilangan prima")
else:
    print(f"{number} adalah bukan bilangan prima")

isikan bilangan: 7

7 adalah bilangan prima

In [47]:
number = int(input("isikan bilangan:"))
total = 1
for i in range (1,number+1):
    total  *= i
print(f"{number} : = {total}")

isikan bilangan: 32

32 : = 263130836933693530167218012160000000

In [58]:
number = int(input("isikan bilangan:"))
sign = 1
for i in range (1,number+1):
    result = sign * i
    print(f"{result} ", end='')
    sign *= -1

isikan bilangan: 10

1 -2 3 -4 5 -6 7 -8 9 -10

In [62]:
kursiBioskop = ["P", "P", "L" ,"L", "P"]
totalLaki = 0
for jenis in kursiBioskop:
    if jenis=="L":
        totalLaki +=1
print(f"Jumlah Penonton Laki laki:{totalLaki}")
print(f"Jumlah Penonton Perempuan:{len(kursiBioskop)-totalLaki}")

Jumlah Penonton Laki laki:2
Jumlah Penonton Perempuan:3

In [65]:
kursi = ["P", "P", "L" ,"L", "P"]
couple = 0
for i in range(len(kursi)-1):
    if kursi[i] != kursi [i+1]:
        couple+=1
print(f"Jumlah Couple:{couple}")

Jumlah Couple:2